extends ../layout

block content
  .page-header
    h3 AccountList

  if accountList
    table.table
      tr
        th Email
        th Name
        th gender
        th IDcard
        th profield
        th signSafetyRegulations
        th
      for user in accountList
        tr
          td= user.email
          td= user.profile.name
          td= user.profile.gender
          td= user.profile.idcard
          td= user.profile.profield
          td 
            if user.profile.signSafetyRegulations
              h4.text-primary
                i.fa.fa-check 
            else
              h4.text-danger
                i.fa.fa-times
          td.text-right
            .btn-group
              a.btn.btn-primary(href='/account/findByEmail' + user.email) Manage
  else
    h4 No cards found
