extends layout

block content
  .page-header
    h3 MyCards

  if cards
    table.table
      tr
        th ID
        th locks
        th Description
        th
      for card in cards
        tr
          td= card.uid
          td
            if card.locks
              for locks in card.locks
                i= locks.name
          td= card.description
          td.text-right
            .btn-group
              a.btn.btn-primary(href='/cards/' + card.uid) Manage
              a.btn.btn-danger(href='/cards/delete2/' + card.uid, onClick='return confirm("确定删除吗？")') Delete

  else
    h4 没有绑定一卡通
    if logs
      table
        tr
          th 门锁
          th 卡号
          th 刷卡时间
        for log in logs
          tr
            td= log.lock_id
            td= log.card_id
            td= moment(log.createdAt).format('YYYY.MM.DD, HH:mm')
            td
              a.btn.btn-primary(href='/cards/' + log.card_id) Manage card
